<span
	class="amd-input"
	[class.input-focused]="isFocused"
	[class.input-has-value]="hasValue"
	[class.input-has-error]="inputModel.errors && (inputModel.dirty || inputModel.touched)">

	<label [attr.for]="name">
		<ng-content select=".amd-input-label"></ng-content>
	</label>

	<input
		#input
		#inputModel="ngModel"
		[attr.type]="type"
		[attr.name]="name"
		[attr.id]="name"
		[attr.autofocus]="autofocus"
		[attr.disabled]="disabled"
		[maxlength]="maxlength"
		[minlength]="minlength"
		[attr.readonly]="readonly"
		[required]="required"
		(focus)="onFocus($event)"
		(blur)="onBlur($event)"
		(change)="onChange($event)"
		[(ngModel)]="value">

	<div
		class="amd-input-error-messages"
		*ngIf="inputModel.errors && (inputModel.dirty || inputModel.touched)">
		<div
			class="amd-input-error-message"
			*ngFor="let message of messages"
			[hidden]="!inputModel.errors[message.key]">
			{{message.value}}
		</div>
	</div>

</span>
