import { Component, ChangeDetectionStrategy } from '@angular/core';

@Component({
	selector: 'amd-{{dashCase name}}',
	templateUrl: './{{dashCase name}}.component.html',
	styleUrls: ['./{{dashCase name}}.component.scss'],
	changeDetection: ChangeDetectionStrategy.OnPush
})
export class {{properCase name}}Component { }
