@import '../styles/variables';
@import '../styles/colors';
@import '../styles/effects-mixins';

.amd-input-container {
  @include border-radius($input-border-radius);
  border: $input-border-width solid $input-border-color;
  padding: $input-padding;
  color: $input-color;
  font-size: $input-font-size;
  display: inline-block;

  &--focussed {
    border-color: $input-border-active-color;
  }
}