<amd-app-container>

  <h1 class="text-center" margin-top="30">AMD Core Angular UI</h1>

  <div margin="25">
    <h2>Navbar</h2>

    <amd-navbar theme="primary">
      <amd-navbar-item>Item #1</amd-navbar-item>
      <amd-navbar-item>Item #2</amd-navbar-item>
      <amd-navbar-item>Item #3</amd-navbar-item>
    </amd-navbar>
  </div>

  <div margin="25">
    <h2>Buttons</h2>

    <amd-dropdown #dropdown="amdDropdown">
      <button amdDropdownTrigger amdButton color="primary">
        Toogle Dropdown
      </button>

      <div amdDropdownContent class="amd-menu">
        <div class="amd-menu__item" (click)="dropdown.close()">Menu Item 1</div>
        <div class="amd-menu__item" (click)="dropdown.close()">Menu Item 2</div>
        <div class="amd-menu__item" (click)="dropdown.close()">Menu Item 3</div>
        <div class="amd-menu__item" (click)="dropdown.close()">Menu Item 4</div>
      </div>
    </amd-dropdown>

    <button amdButton (click)="onDefaultButtonClicked()">
      Default Button
    </button>

    <button amdButton color="primary" (click)="onPrimaryButtonClicked()">
      Primary Button
    </button>

    <button amdButton color="secondary" (click)="onSecondaryButtonClicked()">
      Secondary Button
    </button>
  </div>

  <div margin="25">
    <h2>Inputs</h2>
    
    <div style="display: flex">
      <amd-input-container>
        <input type="text" amdInput placeholder="Standard text input...">
      </amd-input-container>
    </div>

    <div>
      <amd-select placeholder="Select..">
        <amd-option>Option 1</amd-option>
        <amd-option>Option 2</amd-option>
      </amd-select>
    </div>
  </div>

</amd-app-container>
