<amd-app-container>

  <amd-hero>
    <div amdHeroBackground amdParallax [scale]="0.6">
      <img src="../assets/images/angular.jpg" alt="Angular Banner" class="amd-responsive-img" />
    </div>

    <div amdHeroContent>
      Hello World
    </div>
  </amd-hero>

  <div class="app amd-background">
    <div class="app-hero">
      <div class="app-hero-title">
        <h1>AMD Core Angular Seed</h1>
      </div>
      <div class="app-hero-image">
        <img src="../assets/images/amd-core-logo.png" alt="AMD Core Logo" />
      </div>
    </div>

    <div class="app-buttons">
      <button amd-button class="button-primary" (click)="onPrimaryButtonClicked()">
        Primary Button
      </button>

      <button amd-button class="button-secondary" (click)="onSecondaryButtonClicked()">
        Secondary Button
      </button>
    </div>
  </div>
</amd-app-container>
