@import '../styles/backdrop';
@import '../styles/responsive-mixins';
@import '../styles/variables';

div.amd-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;

	div.amd-modal-backdrop {
		@include amd-backdrop-hidden();
	}

	div.amd-modal-content {
		padding: 10px;
		background-color: $white;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: translateY(-300%);
		transition: transform $transition, visibility $transition;
		visibility: hidden;
		border: $border;
		border-radius: $border-radius;

		@include gt-xs() {
			top: 20%;
			left: 10%;
			bottom: 20%;
			right: 10%;
		}

		@include gt-sm() {
			top: 25%;
			left: 15%;
			bottom: 25%;
			right: 15%;
		}

		@include gt-md() {
			top: 35%;
			left: 20%;
			bottom: 35%;
			right: 20%;
		}

		@include gt-lg() {
			top: 40%;
			left: 25%;
			bottom: 40%;
			right: 25%;
		}
	}

	&.is-open {
		visibility: visible;

		div.amd-modal-backdrop {
			@include amd-backdrop-visible();
		}

		div.amd-modal-content {
			transform: translateY(0);
			visibility: visible;
		}
	}
}
