@import '../../styles/variables';

span.amd-input {
	display: inline-block;
	position: relative;
	margin: 5px 0;

	> label {
		pointer-events: none;
		position: absolute;
		color: $inactive-color;
		transition: color $transition, transform $transition;
		transform-origin: bottom left;
	}

	> input {
		outline: none;
		border: none;
		color: $inactive-color;
		transition: border-bottom-color $transition;
		border-bottom: 2px solid $inactive-color;
	}

	> div.amd-input-error-messages {
		> div.amd-input-error-message {
			transition: color $transition;
			color: $inactive-color;
			position: absolute;
			font-size: 75%;
			bottom: -1.5em;
		}
	}

	&.input-focused,
	&.input-has-value {
		> label {
			transform: translateY(-100%) scale(0.75);
		}
	}

	&.input-focused {
		> label {
			color: $active-color;
		}

		> input {
			border-bottom-color: $active-color;
		}
	}

	&.input-has-error {
		> label {
			color: $warn-color;
		}

		> input {
			border-bottom-color: $warn-color;
		}

		> div.amd-input-error-messages {
			> div.amd-input-error-message {
				color: $warn-color;
			}
		}
	}
}
